# scripts
/mvnw text eol=lf
*.cmd text eol=crlf

# general text files (Java, properties, config, md, xml etc.)
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.sql text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

# OS / IDE files
*.sh text eol=lf
*.bat text eol=crlf
